{% extends 'base-profile.html.twig' %}

{% block title %}{{ app.user.identity.fullName }} - Profil{% endblock %}

{% block body %}
    <div id="profile"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/vue/profile__vue.js') }}"></script>
{% endblock %}
