{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/home.css') }}">
{% endblock %}

{% block body %}
    <div class="box-presentation"></div>
    <div class="container">
        <div id="app"></div>
    </div>
{% endblock %}
