{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/home.css') }}">
{% endblock %}

{% block body %}
    <div class="box-presentation">
        <div class="group-illus">
            <img src="{{ asset('res/group.png') }}" alt="">
        </div>
        <div class="present-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consectetur doloremque et incidunt laboriosam maxime, molestias nemo odio quae quos recusandae reprehenderit sed sequi sit soluta totam ut voluptatibus voluptatum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consectetur doloremque et incidunt laboriosam maxime, molestias nemo odio quae quos recusandae reprehenderit sed sequi sit soluta totam ut voluptatibus voluptatum.</p>
        </div>
    </div>
    <div class="container">
        <div id="app"></div>
    </div>
{% endblock %}
