{% extends 'base.html.twig' %}

{% block title %}Politique de Condifentialité{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/home.css') }}">
{% endblock %}

{% block body %}
        <p>Dans le cadre de son activité, la société Viamicis dont le siège social est situé à Angers, 49100 est
        amenée à collecter et à traiter des informations dont certaines sont qualifiées de "données
        personnelles". Viamicisattache une grande importance au respect de la vie privée, et n’utilise que des
                donnes de manière responsable et confidentielle et dans une finalité précise.</p>
        <h2>1 - Données personnelles</h2>

        <p>Sur le site web http://viamicis.com il y a 2 types de données susceptibles d’être recueillies :

        Les données transmises directement
        Ces données sont celles que vous nous transmettez directement, via un formulaire de contact ou bien
        par contact direct par email. Sont obligatoires dans le formulaire de contact le champs « prénom et nom
        », « entreprise ou organisation » et « email ».
        Les données collectées automatiquement
        Lors de vos visites, une fois votre consentement donné, nous pouvons recueillir des informations de
        type « web analytics » relatives à votre navigation, la durée de votre consultation, votre adresse IP, votre
        type et version de navigateur. La technologie utilisée est le cookie.
        </p>
        <h2>2 - Utilisation des données</h2>

        <p>Les données que vous nous transmettez directement sont utilisées dans le but de vous re-contacter
        et/ou dans le cadre de la demande que vous nous faites. Les données « web analytics » sont collectées
        de forme anonyme (en enregistrant des adresses IP anonymes) par Google Analytics, et nous
        permettent de mesurer l'audience de notre site web, les consultations et les éventuelles erreurs afin
        d’améliorer constamment l’expérience des utilisateurs. Ces données sont utilisées par Viamicis,
        responsable du traitement des données, et ne seront jamais cédées à un tiers ni utilisées à d’autres fins
        que celles détaillées ci-dessus.
        </p>
        <h2>
                3 - Base légale
        </h2>

        <p>Les données personnelles ne sont collectées qu’après consentement obligatoire de l’utilisateur. Ce
                consentement est valablement recueilli (boutons et cases à cocher), libre, clair et sans équivoque.</p>

        <h2>4 - Durée de conservation</h2>

        <p>Les données seront sauvegardées durant une durée maximale de 3 ans.</p>

        <h2>5 - Cookies</h2>

        <p>Voici la liste des cookies utilisées et leur objectif :

        Cookies Google Analytics : Web analytics</p>

        <h2>6 - Vos droits concernant les données personnelles</h2>

        <p>Vous avez le droit de consultation, demande de modification ou d’effacement sur l’ensemble de vos
        données personnelles. Vous pouvez également retirer votre consentement au traitement de vos
        données.
        Contact délégué à la protection des données

        BAUDY Senny - 06.52.49.56.98</p>
{% endblock %}
