body {
  font-family: Montserrat, sans-serif;
  margin: 0;
}

[vs-theme=dark] {
  --vs-theme-bg: #18191c;
  --vs-theme-color: #fff;
  --vs-theme-layout: #1e2023;
  --vs-theme-bg2: #141417;
  --vs-theme-code: #141417;
  --vs-theme-code2: #161619;
  --vs-theme-layout-rgb: 30, 32, 35;
}

img {
  display: block;
  width: 100%;
}

a, a:hover, a:link, a:active, a:focus {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.box-shadow {
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.2);
}

.columns-1 {
  width: 1*(100%/12);
}

.columns-2 {
  width: 2*(100%/12);
}

.columns-3 {
  width: 3*(100%/12);
}

.columns-4 {
  width: 4*(100%/12);
}

.columns-5 {
  width: 5*(100%/12);
}
.columns-6 {
  width: 6*(100%/12);
}
.columns-7 {
  width: 7*(100%/12);
}
.columns-8 {
  width: 8*(100%/12);
}
.columns-9 {
  width: 9*(100%/12);
}
.columns-10 {
  width: 10*(100%/12);
}
.columns-11 {
  width: 11*(100%/12);
}
.columns-12 {
  width: 12*(100%/12);
}

.flex-align-right {
  justify-content: flex-end !important;
}

.justify-content-left {
  justify-content: left;
}


