header.top-default {
  color: white;
}

.box-presentation {
  height: 100vh;
  background-image: url("../../public/res/caravane.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
