header.top-default {
  color: white;
}

.box-presentation {
  height: 100vh;
  background-image: url("../../public/res/temple.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
