@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800;900&display=swap');

html {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: .01rem;
  height: 100%;
}

body {
  background: #ffffff;
  height: 100%;
}

.bg-primary {
  background: rgba(var(--vs-primary), 1) !important;
}

.bg-primary-gradient {
  background: linear-gradient(118deg, rgba(var(--vs-primary), 1), rgba(var(--vs-primary), .7)) !important;
}

.block-center {
  margin: 0 auto;
}

.feather {
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.text-center {
  text-align: center !important;
}

.profile {
  display: flex;
}

.font-lighter {
  font-weight: 500;
}

.nav__menu {
  flex: 1;
  background-color: white;
  height: 100vh;
  box-shadow: 0 0 15px 0 rgba(0,0,0,.05);
  position: sticky;
  top: 0;

  header {
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      color: rgba(var(--vs-primary), 1) !important;
      margin: 0;
      font-weight: 600;
      letter-spacing: 0.8px;
    }

    button {
      color: rgba(var(--vs-primary), 1);
    }
  }

  section {
    padding: 0 20px;

    .navigation-header {
      font-size: .9rem;
      display: block;
      font-weight: 500;
      text-transform: uppercase;
      color: #999;
      padding-left: 10px;
      margin: 20px 0;
    }
  }
}

.content__box {
  flex: 4;
  padding: 20px;
  overflow: hidden;

  .header__box {
    margin-bottom: 20px;
  }

  header {
    background: white;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);
    padding: 1px 10px;
    border-radius: 7px;

    .header-flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .header-links-account {
      margin-right: 10px;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }

      a, button {
        color: inherit;
      }

      a:hover, button:hover {
        color: rgba(var(--vs-primary),1);
      }
    }

    .box-identity {
      padding: 10px;
      text-align: right;
      line-height: 1.25;

      p {
        font-weight: 500;
        margin: 0;
      }

      small {
        opacity: 0.6;
        font-size: smaller;
      }
    }

    .header-account {
      display: flex;
      align-items: center;
    }

    .header-links {
      margin-left: 5px;
      display: flex;
      align-items: center;

      a {
        display: block;
        font-size: 12px;

        span {
          position: relative;
          display: inline-flex;
          align-items: center;
          -webkit-box-align: center;
          box-sizing: border-box;
          padding: 5px;
        }

        svg {
          width: 1.5rem;
          height: 1.5rem;
        }
      }

      a:hover {
        color: rgba(var(--vs-primary),1);
      }
    }
  }

  .box-icon {
    padding: 1.5rem !important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1) !important;
    border-radius: 9999px!important;
    position: relative!important;
    display: inline-flex;

    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}

.mr-4 {
  padding-right: 20px;
}

.content-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(44, 62, 80);
  font-family: Poppins, sans-serif;

  p {
    font-size: .7rem;
    max-width: 200px;
    padding: 0;
    margin: 0;
  }
}

.profile-card {
  box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
  padding: 1.5rem;
  border-radius: .5rem;
  position: relative;
  background-color: white;

  &.dark-card {
    color: white !important;
  }

  .decore-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
  }

  .decore-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
  }

  .title-welcome {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 1.5rem;
  }
}

.mb-0 {
  margin-bottom: 0;
}

.sidenav-link {
  .sidenav-link-active {
    background: linear-gradient(118deg, rgba(var(--vs-primary), 1), rgba(var(--vs-primary), 0.7)) !important;
    color: white !important;
    box-shadow: 0 0 10px 1px rgba(var(--vs-primary),.7) !important;
  }

  a {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    border-radius: 4px;
    font-size: 15px;
    transition: 0.2s padding-left ease-in-out;

    svg {
      width: 20px;
      height: 20px;
      margin-right: 7px;
    }

    &:hover {
      padding-left: 15px;
    }
  }
}

.text-gold {
  color: rgb(255, 159, 67) !important;
}

.settings_box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  max-width: 300px;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 0 15px 0 rgba(0,0,0,.05);
  overflow-y: scroll;

  .setting_content {
    position: relative;
  }

  header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.05);
    background-color: white;
    color: rgba(var(--vs-primary), 1);

    .vs-button {
      color: rgba(var(--vs-primary), 1);
    }

    h2 {
      font-weight: 600;
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to, .fade-leave-active {
  opacity: 0;
}
.translate-enter-active, .translate-leave-active {
  transition: opacity .3s, transform .3s;
}
.translate-enter, .translate-leave-to, .translate-leave-active {
  opacity: 0;
  transform: translateX(200px);
}

.translate__user__info-enter-active, .translate__user__info-leave-active {
  transition: opacity .3s, transform .3s;
}
.translate__user__info-enter, .translate__user__info-leave-to, .translate__user__info-leave-active {
  opacity: 0;
  transform: translateX(100%);
}

.zoom-enter-active, .zoom-leave-active {
  transition: opacity .3s, transform .3s;
}
.zoom-enter, .zoom-leave-to, .zoom-leave-active {
  opacity: 0;
  transform: scale(1.03);
}

.vs-radio-content {
  justify-content: left;
}

.profile-title {
  margin-left: 2px;
  letter-spacing: .8px;
  font-weight: 500;
  margin-bottom: 20px;
}

.wizard-icon-circle:focus {
  outline: none;
}

.vs-con-input-label {
  width: 100%;
  margin-bottom: 17px;

  &.input-icon-validate-danger {
    input {
      border: none !important;
    }
  }

  .input-icon-validate {
    display: none !important;
  }

  .span-text-validation-danger {
    position: absolute !important;
  }

  .vs-con-textarea {
    margin-bottom: 0 !important;
  }

  input {
    border-radius: 12px !important;
    border: none !important;
    background: #f5f5f5 !important;
    color: rgba(var(--vs-text),1) !important;
    padding: 10px 7px !important;

    &:focus {
      padding-left: 10px !important;
      background-color: #f5f5f5 !important;
      border: none !important;
    }
  }

  .input-span-placeholder {
    padding: 9px !important;
  }
}

.vs-input-primary .vs-input--input:focus {
  border: none !important;
}

.vs-con-textarea {
  border: none !important;

  textarea {
    border-radius: 12px !important;
    border: none !important;
    background: #f5f5f5 !important;
    color: rgba(var(--vs-text),1) !important;
    padding: 7px !important;

    &:focus {
      padding-left: 10px !important;
      background-color: #f5f5f5 !important;
      border: none !important;
    }
  }

  &.focusx {
    border: none !important;
  }
}

.step-form-wizard {
  padding: 50px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.list-checkbox {
  margin: 10px 0;
  display: flex;

  .vs-switch {
    margin-right: 20px;
  }

  .material-icons {
    font-size: 18px;
  }
}

.justify-start {
  div {
    justify-content: flex-start;
  }
}

.list-flext {
  margin-left: 20px;
}

.select-country {
  width: 90% !important;
}

.modal-perso {
  .vs-dialog {
    border-radius: 20px !important;
  }

  header {
    text-align: center !important;
    color: rgb(44, 62, 80) !important;
    border-radius: 20px 20px !important;
    background-color: transparent !important;
    display: block !important;
    position: relative !important;

    .vs-dialog-cancel {
      border-radius: 12px !important;
      position: absolute !important;
      top: 0;
      right: 0;
    }

    h3 {
      font-weight: 400 !important;
      padding: 15px 0 !important;
    }

    span.after {
      display: none !important;
    }
  }

  footer {
    display: block !important;
    padding: 0 20px 20px;

    &::before {
      content: none;
    }

    .vs-dialog-accept-button {
      width: 100% !important;
    }

    .vs-dialog-cancel-button {
      display: none;
    }
  }
}

.vs-component.vs-con-table {
  background-color: transparent !important;
}

header.header-table {
  background-color: transparent !important;
}

table.vs-table {
  border-collapse: separate;
  border-spacing: 0 1.1rem;

  thead {
    tr {
      background-color: transparent !important;

      th {
        padding: 0px 10px;
      }
    }
  }

  &>tr {
    margin-bottom: 10px !important;
    td {
      padding: 20px 10px !important;
    }
  }
}

.con-input {
  border-radius: 10px;
  border: 4px solid #ffffff;
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease;

  &:hover {
    transform: translate(0, -4px);
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.1);
  }

  input {
    opacity: 0;
    width: 30px;
    height: 30px;
    border: 0px;
    cursor: pointer;
  }

  i {
    position: absolute;
    color: white;
    pointer-events: none;
  }
}

.con-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.wizard-header {
  display: none;
}

.profile__box {
  height: 100%;

  header {
    display: flex;
    align-items: center;
    height: 80px;

    .header__logo {
      box-sizing: border-box;
      padding: 20px;
      width: 80px;
      background-color: rgba(var(--vs-primary), 1);
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;

      img {
        display: block;
        width: 100%;
      }
    }

    .header__content {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;

      h1 {
        margin: 0;
        font-weight: 600;
      }

      .new__trip {
        background: rgba(var(--vs-primary),1);
        color: #fff;
        box-shadow: 0 10px 20px -10px rgba(var(--vs-primary),.6);
        cursor: pointer;
        z-index: 200;
        padding: 10px 30px;
        border: 0;
        border-radius: 100px;
        transition: all .25s ease;
        font-size: 11px;
        font-weight: 600;

        &:hover {
          transform: translateY(2px);
        }
      }
    }

    .header__aside {
      width: 23%;
      display: flex;
      justify-content: center;

      a {
        display: block;
        height: 25px;
        width: 25px;
        margin: 0 7px;
        position: relative;
        background-color: white;
        border: 1px solid #D9D9D9;
        border-radius: 100%;
        cursor: pointer;

        &.active {
          background-color: rgba(var(--vs-primary), 1);
          color: white;
          border-color: rgba(var(--vs-primary), 1);
        }

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 13px;
        }
      }
    }
  }

  h4 {
    font-weight: 500;
  }
  .content__box {
    display: flex;
    padding: 0;
    align-items: stretch;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;

    nav {
      margin: 20px 0;
      width: 6%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      a {
        display: block;
        text-align: center;
        font-size: 16px;
        padding: 15px 20px;
        cursor: pointer;
      }
    }

    main {
      background-color: #F8F9FB;
      border-top-left-radius: 20px;
      transition: width .4s ease;
      overflow-y: scroll;
      width: 94%;

      &.aside__open {
        border-top-right-radius: 20px;
        width: 71%;
      }

      header {
        background-color: #eef2f5;
        box-shadow: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 20px;
        padding: 30px 100px;

        h2 {
          font-weight: 600;
          letter-spacing: 0.8px;
          color: #A9A9A9;

          a {
            transition: 0.4s ease;
          }

          a:hover {
            color: #333333;
          }
        }
      }

      .separation {
        background-color: #eef2f5;
        position: relative;
        display: block;
        height: 30px;

        &:after {
          display: block;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border-top-left-radius: 20px;
          background-color: #F8F9FB;
        }
      }

      .content_main {
        padding: 0 20px 20px;

        .links__action {
          display: flex;

          .w-30 {
            width: 30%;
          }

          .card_link {
            display: block;
            margin: 5px;
            text-align: center;
            background-color: white;
            border-radius: 35px;
            padding: 30px;
            transition: 0.4s ease;

            &:hover {
              transform: translateY(-5px);
              box-shadow: 0 15px 30px -8px rgba(0, 0, 0, 0.08);
            }

            img {
              border-radius: 10px;
              margin-bottom: 20px;
            }

            .icon__link {
              display: block;
              margin-bottom: 15px;
              font-size: 30px;
            }

            .text__link {
              font-weight: 500;
              letter-spacing: 0.8px;
            }
          }
        }
      }
    }

    aside {
      box-sizing: border-box;
      background-color: white;
      width: 23%;
      padding: 20px 30px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;

      .user__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
      }

      .user__stats {
        display: flex;
        padding: 20px 0;

        .stat {
          width: 50%;

          p {
            margin-bottom: 5px;
            color: #999999;
            font-size: 12px;
          }

          .number__stat {
            padding-left: 10px;
            position: relative;

            &:before {
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              width: 3px;
              background-color: #ffffff;
              content: '';
              display: block;
              border-radius: 30px
            }

            &.border-yellow:before {
              background-color: #f39c12;
            }

            &.border-red:before {
              background-color: #ff413c;
            }

            &.border-purple:before {
              background-color: #8959A8;
            }

            span {
              font-weight: 600;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

.current__breadcrump {
  color: rgba(var(--vs-primary), 1);
}

.input__add__trip {
  margin: 10px 0;
}

.label__textaera {
  font-size: 0.75rem;
  display: block;
  margin: 10px 0 3px 0;
  padding-left: 5px;
}

.textaera__add__trip {
  width: 100%;
  background: rgba(var(--vs-gray-2), 1);
  color: rgba(var(--vs-text), 1);
  padding: 7px 13px;
  border: none;
  border-radius: 7px;
  resize: vertical;

  &:focus {
    outline: none;
  }
}

.text__with__input {
  display: flex;
  align-items: center;
}

.input__in__text {
  margin: 0 0 0 5px;
  input {
    width: 75px;
  }
}

.vs-input-parent {
  padding: 0 5px;
}

.vs-input {
  width: 100% !important;
}

.all_trips {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.one_trip {
  background-color: white;
  border-radius: 35px;
  width: 32%;
  margin-bottom: 2%;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  position: relative;
  box-shadow: 0 15px 30px -8px rgba(0,0,0,.08);

  .trip_info {
    h3 {
      font-size: 14px;
      margin: 0 0 5px 0;
    }

    p {
      margin: 0 0 5px 0;
      font-size: 12px;
    }

    .creator-info {
      margin-top: 5px;
      display: flex;
      align-items: center;

      p {
        font-style: italic;
        color: #666666;
      }
    }
  }

  .know_more_trip {
    position: absolute;
    bottom: -10px;
    right: 10px;
    font-size: 10px;
  }
}

.flag_avatar {
  margin-right: 20px;

  img {
    height: 100% !important;
    width: auto !important;
  }
}

.columns_trip {
  display: flex;
  justify-content: space-between;

  .main_info {
    width: 65%;
  }

  .right_info {
    width: 30%;
  }

  .creator_info {
    background-color: white;
    border-radius: 17px;
    padding: 20px;
    box-shadow: 0 15px 30px -8px rgba(0,0,0,.1);
    margin-bottom: 10px;

    .creator_avatar {
      display: flex;
      align-items: center;
    }

    .avatar_info {
      margin-right: 10px;
    }
  }

  .particants_list {
    background-color: white;
    border-radius: 17px;
    padding: 20px;
    box-shadow: 0 15px 30px -8px rgba(0,0,0,.1);
    margin-bottom: 10px;

    h5 {
      margin: 5px 0;
    }

    .group_info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        margin: 0;
        text-align: right;
        font-size: 9px;
        font-weight: 600;
      }
    }
  }

  .description_trip {
    border-radius: 17px;
    margin-top: 20px;
  }

  .creator_info_line {
    display: flex;
    align-items: center;

    .info_line_icon {
      height: 30px;
      width: 44px;
      border-radius: 10px;
      background-color: #FAFAFA;
      position: relative;

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    p {
      margin-left: 10px;
    }
  }

  .join-trip {
    .vs-button {
      width: 100%;
      display: block;
      text-align: center;
      background: rgba(var(--vs-primary),1);
      color: #fff;
      box-shadow: 0 10px 20px -10px rgba(var(--vs-primary),.6);
      cursor: pointer;
      font-family: 'Montserrat', sans-serif;
      z-index: 200;
      padding: 6px 30px;
      border: 0;
      border-radius: 100px;
      transition: all .25s ease;
      font-size: 11px;
      font-weight: 600;

      &:hover {
        transform: translateY(2px);
      }
    }
  }
}

.list-wish {
  display: flex;
  margin: 10px 0;

  .wish {
    width: 29%;
    text-align: center;
    background-color: white;
    padding: 15px;
    border-radius: 17px;
    box-shadow: 0 15px 30px -8px rgba(0,0,0,.1);
    position: relative;
    margin: 10px 2%;
    box-sizing: border-box;

    .avatar-centered {
      margin: 0 auto;
    }

    .wish-buttons {
      display: flex;
      justify-content: space-around;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -18px;

      .ans-no, .ans-yes {
        width: 48%;
      }
    }
  }
}

.columns-tchat {
  display: flex;
  height: 100%;

  h5 {
    padding: 0 10px;
  }

  .conversation_list {
    width: 375px;
    box-sizing: border-box;
    background-color: white;
    border-right: 1px solid #DFDFDF;
    height: 100%;
    padding: 0 10px;

    .conversation {
      background-color: white;
      padding: 15px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .preview_conv {
        h5 {
          padding: 0;
          margin: 0;
          font-size: 14px;
        }

        p {
          margin: 0;
          font-size: 11px;
          color: #666666;
        }
      }

      .avatar_conv {

      }

      &.current {
        background-color: #FAFAFA;
      }
    }
  }

  .conversation_messages {
    flex: 1;
    box-sizing: border-box;
  }
}

.tchatbox {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  border-right: 1px solid #DFDFDF;
  overflow-y: scroll;

  .header_box {
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    padding-right: 20px;
    border-bottom: 1px solid #DFDFDF;
    z-index: 1000;
  }

  .content_box {
    flex: 1;
    overflow-y: scroll;
    padding: 10px;

    .begin_conv {
      border-bottom: 1px solid #DFDFDF;
      margin: 0 75px 20px;
    }

    .text_send {
      text-align: right;
      margin: 5px 0;

      p {
        padding: 7px 12px;
        margin: 0;
        background-color: #F1F1F1;
        border-radius: 17px;
        display: inline-block;
      }
    }

    .text_received {
      display: flex;
      margin: 5px 0;

      p {
        padding: 7px 12px;
        background: rgba(var(--vs-primary), 1) !important;;
        border-radius: 17px;
        display: inline-block;
        margin: 0 0 0 5px;
        color: white;
      }
    }
  }

  .insert_tchat {
    background-color: white;
    padding: 20px 10px;
    display: flex;

    input {
      background-color: rgba(0, 0, 0, .05);
      border-radius: 18px;
      padding: 9px 12px 9px;
      border: none;
      flex: 1;
    }

    .send_button {
      margin: 0 0 0 10px;
      padding: 4px 8px;
      border-radius: 18px;
    }
  }
}


