.box-login {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.security-background {
}

.box-form-security {
  height: 100vh;
  width: 35%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0px 0 5px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;

  &.animated-expand-reverse {
    animation-duration: 0.8s;
    animation-name: expand-reverse;
  }

  &.expand {
    width: 65%;
    margin-left: 35%;
    border-radius: 12px 0 0 12px;
    animation-duration: 0.8s;
    animation-name: expand;
  }
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  form {
    width: 100%;

    input {
      width: 100%;
      padding: 20px 10px;
      border: none;
      margin-bottom: 1px;
      border-left: 2px solid #F1F1F1;
      transition: border 0.4s;
      box-sizing: border-box;

      &:focus {
        border-color: #89578e;
      }

      &.no-b-top {
        border-top: none;
        margin-bottom: 0;
      }
    }

    .input-stack {
      margin: 20px 0;
      background-color: #F1F1F1;

      &.input-stack-space {
        margin: 50px 0;
      }
    }

    .form-links {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        font-size: 12px;
        font-variant: all-small-caps;
        letter-spacing: 0.8px;
        opacity: 0.8;
      }

      button {
        border: none;
        background: linear-gradient(225deg, #89578e, #ef7762);
        color: white;
        padding: 10px 30px;
        border-radius: 100px;
        transition: 0.4s ease-in-out;

        &:hover {
          box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2);
          transform: translateY(-2px);
        }
      }
    }
  }

  h2 {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.8px;
    margin-bottom: 0;
    opacity: 0.6;
  }

  .box-logo {
    padding: 100px 0 0 50px;
    transition: margin 0.8s;
  }

  &.box-large {
    .box-logo {
      margin-left: 35%;
    }
  }
}



.box-content {
  display: flex;
}

.form-login {
  padding: 0 50px;
  transition: 0.4s ease-in-out;
  transform: translateX(-100%);
  visibility: hidden;
  opacity: 0;
  width: 35%;

  &.open {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
  }

  .padding-top {
    padding-top: 50px;
  }
}

.form-signin {
  padding: 0 50px;
  width: 65%;
  transition: 0.4s ease-in-out;
  transform: translateX(100%);
  visibility: hidden;
  opacity: 0;

  &.open {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
}

.box-logo {
  display: flex;
  align-items: center;
  margin: 30px 0 0;

  img {
    width: 50px;
    margin-right: 15px;
  }
}

@keyframes expand {
  0% {
    margin-left: 0;
    width: 35%;
  }

  50% {
    margin-left: 0;
    width: 100%;
  }

  100% {
    margin-left: 35%;
    width: 65%;
  }
}

@keyframes expand-reverse {
  0% {
    margin-left: 35%;
    width: 65%;
  }

  50% {
    margin-left: 0;
    width: 100%;
  }

  100% {
    margin-left: 0;
    width: 35%;
  }
}

.btn-switch {
  position: fixed;
  bottom: 10%;
  left: 35%;
  transform: translate(-50%, -50%);
  padding: 15px 40px;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  border-radius: 100px;
  background: linear-gradient(225deg, #89578e, #ef7762);
  color: white;
  font-weight: 500;
  box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
}

.input-stack-line {
  display: flex;
  flex-wrap: wrap;

  input {
    border-left: 1px solid #F1F1F1 !important;

    &:focus {
      border-left: 2px solid #89578e !important;
    }
  }
}
